<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUIDReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUIDReport.Properties.Settings>
            <setting name="Outfile" serializeAs="String">
                <value>C:\Users\Evan\Documents\TraceLab\Components\GUIDs.txt</value>
            </setting>
            <setting name="ComponentDirectoriesFile" serializeAs="String">
                <value>ComponentDirectories.txt</value>
            </setting>
            <setting name="DecisionDirectory" serializeAs="String">
                <value>C:\Users\Evan\Documents\TraceLab\Decisions</value>
            </setting>
            <setting name="DataRoot" serializeAs="String">
                <value>C:\Users\Evan\Documents\TraceLab</value>
            </setting>
            <setting name="TypeDirectoriesFile" serializeAs="String">
                <value>TypeDirectories.txt</value>
            </setting>
            <setting name="GUIDLength" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="NameLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VersionLength" serializeAs="String">
                <value>12</value>
            </setting>
        </GUIDReport.Properties.Settings>
    </userSettings>
</configuration>